#main {
    background: #eff;
    margin: 0 auto;
    width: 800px;
}

#playIcon {
    font-size: larger;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 0;
    text-align: center;
    width: 370px;
    height: 70px;
}

.indexButton {
    position: relative;
    margin: 30px;
    width: 200px;
    height: 50px;
    font-size: large;
}

#indexIcon {
    font-size: larger;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    width: 370px;
    height: 70px;
    margin: 0 auto;
}

#indexDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
