#main {
    background: #eff;
    margin: 0 auto;
    width: 800px;
}

#icon {
    font-size: larger;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 0;
    text-align: center;
    width: 370px;
    height: 70px;
}

.indexButton {
    margin: 600px;
    width: 200px;
    height: 200px;
}
